.article-1-bg {
  background: #ebeef0;
  padding: 0 10px 60px 10px;
  font-family: "Poppins", sans-serif;
}

.article-1-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1200px;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}

.article-1-contain {
  display: grid;
  max-width: 765px;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 1px 1px 15px 5px rgba(47, 92, 139, 0.1);
}

.article-1-contain ul {
  display: grid;
  gap: 4px;
  list-style: decimal;
  padding: 0 0 0 24px;
}

.article-1-contain h1 {
  font-size: 2rem;
  line-height: 2.25rem;
  text-align: center;
}

.article-1-contain h1, .article-1-contain h2,.article-1-contain h3 {
  color: #1066a5;
  margin-top: 16px;
}

.article-1-contain p {
  margin-top: 8px;
}

.article-1-contain a {
  justify-self: center;
  margin: 32px 0;
}

.article-1-container .aside-15 {
  background: grey;
  width: 970px;
  height: 90px;
  border-radius: 8px;
  margin: 20px 0;
  grid-column: 1/ -1;
}

.article-1-container .aside-16,
.article-1-container .aside-17 {
  background: grey;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 40px;
}

@media (max-width: 1000px) {
  .article-1-container {
    grid-template-columns: 1fr;
  }
  .article-1-container .aside-16,
  .article-1-container .aside-17 {
    display: none;
  }
  .article-1-container .aside-15 {
    width: 728px;
    height: 90px;
  }
}
@media (max-width: 800px) {
  .article-1-container .aside-15 {
    width: 468px;
    height: 60px;
  }
}
@media (max-width: 600px) {
  .article-1-container .aside-15 {
    width: 300px;
    height: 100px;
    margin: 12px 0;
  }
  .article-1-bg {
    padding:0 0 60px 0;
  }
  .article-1-contain {
    border-radius: 0;
    padding: 20px 12px;
  }
  .article-1-contain h2 {
    border-radius: 8px;
  }
}
@media (max-width: 400px) {
  .article-1-container .aside-15 {
    width: 300px;
    height: 100px;
  }
}
