.calc-basal-bg {
  background: url("../image/backgroud-opcao.jfif");
  background-position: center;
  padding: 0px 10px 60px 10px;
  color: white;
  font-family: 'Poppins', sans-serif;
}

.calc-basal-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  max-width: 1200px;
  justify-items: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.calc-basal-container .aside-3 {
  background: grey;
  width: 970px;
  height: 90px;
  border-radius: 8px;
  margin: 20px 0;
  grid-column: 1/ -1;
}

#form-basal {
  max-width: 765px;
  display: grid;
  padding: 32px;
  background: rgba(9, 93, 140, 0.7);
  border-radius: 4px;
  box-shadow: 1px 1px 20px 10px rgba(47, 92, 139, 0.3);
  justify-items: center;
}

#form-basal h2 {
  border-radius: 12px  12px 0 0;
  margin-bottom: 16px;
  padding: 12px ;
  background: #093450;
  ;
}

#form-basal h3 {
  margin-bottom: 20px;
}

#form-basal p {
  font-size: 0.875rem;
}

#form-basal label {
  font: 400 1rem / 1.5 "Poppins", sans-serif;
  margin-bottom: 4px;
  display: block;
  font-weight: bold;
}

#form-basal .sexo {
  display: flex;
  gap: 20px;
  justify-content: center;
  border-bottom: 1px solid #b2b2b2;
  margin-bottom: 16px;
}

#form-basal input[type="radio"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.input-radio-label {
  font-weight: bold;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient(45deg, #64d5b5, #35a995);
  color: white;
  box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.1);
  border: 2px solid #64d5b5;
}

#form-basal .sexo label {
  background: linear-gradient(45deg, #1dc6ef, #1483ee);
  border: 2px solid #1dc6ef;
  padding: 12px 32px;
  margin-bottom: 14px;
}

#form-basal .sexo label:last-child {
  background: linear-gradient(45deg, #fda077, #fd637c);
  border: 2px solid #fda077;
  padding: 12px 32px;
}

#form-basal input[type="radio"]:checked + label {
  border-color: white;
}

#form-basal input[type="radio"] + label:hover {
  box-shadow: 0 0 10px 15px white;
  box-shadow: inset 0 0 0px 50px rgba(0, 0, 0, 0.1);
}

#form-basal input[type="radio"] + label::before {
  content: "";
  display: inline-block;
  box-sizing: border-box;
  width: 12px;
  height: 12px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 8px;
}

#form-basal input:checked[type="radio"] + label::before {
  box-shadow: inset 0 0 0 3px white, inset 0 0 0 6px white;
}

#form-basal input[type="radio"]:focus + label {
  box-shadow: inset 0 0 0 1px white, inset 0 0 0 1px white;
  border-color: white;
}

#form-basal input[type="number"] {
  padding: 4px 12px;
  font: 500 1rem / 1.5 "Poppins", sans-serif;
  color: #404040;
  border: solid 2px #cccccc;
  border-radius: 8px;
  background: linear-gradient(45deg, #f7fdfc, #e0e5e8);
  box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.1);
}

#form-basal select {
  padding: 4px 12px;
  font: 500 1rem / 1.5 "Poppins", sans-serif;
  color: #404040;
  border: solid 2px #cccccc;
  border-radius: 8px;
  background: linear-gradient(45deg, #f7fdfc, #e0e5e8);
  box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.1);
}

.alt-peso-idade div {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  padding-top: 5px;
}

.alt-peso-idade > div {
  border-bottom: 1px solid #b2b2b2;
}

.alt-peso-idade label {
  position: absolute;
  top: -14px;
  left: 0;
}
.alt-peso-idade input {
  margin-bottom: 14px;
}

.objetivo {
  border-bottom: 1px solid #b2b2b2;
  margin-top: 16px;
}

.objetivo p:last-child {
  margin-bottom: 14px;
}

.objetivo div {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
}

.tempo-treino div,
.tempo-cardio div {
  display: flex;
  justify-content: center;
  gap: 20px;
  position: relative;
  margin-top: 18px;
}

.tempo-treino > div,
.tempo-cardio > div {
  border-bottom: 1px solid #b2b2b2;
}
 
.tempo-treino label,
.tempo-cardio label {
  position: absolute;
  top: -19px;
  left: 0px;
}

.tempo-treino {
  margin-top: 16px;
}

.tempo-treino div,
.tempo-cardio div {
  margin-bottom: 14px;
}

.atvDiaDia div {
  display: flex;
  position: relative;
  margin-bottom: 4px;
  justify-content: center;
}

.atvDiaDia label {
  position: absolute;
  top: -19px;
  left: 0px;
}

.tempo-cardio,
.atvDiaDia {
  margin-top: 2px;
}

.atvDiaDia p {
  padding-bottom: 16px;
  border-bottom: 1px solid #b2b2b2;
}

.definicao {
  border-bottom: 1px solid #b2b2b2;
}

.definicao h3 {
  margin-top: 16px;
}

.grid-bf-homem {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4px;
  overflow-x: hidden;
  max-width: 615px;
  height: 200px;
  border-radius: 8px;
  margin-bottom: 14px;
  padding: 4px;
  border: solid 2px #cccccc;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.1);
}

.grid-bf-mulher {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 4px;
  overflow-x: hidden;
  max-width: 615px;
  height: 200px;
  display: none;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 14px;
  padding: 4px;
  border: solid 2px #cccccc;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.1);
}

.grid-bf-homem div , .grid-bf-mulher div {
  position: relative;
  background: linear-gradient(45deg, #64d5b5, #35a995);

}

.grid-bf-homem input[type="radio"] + label::before, .grid-bf-mulher input[type="radio"] + label::before {
position: absolute;
top: 10px;
left: 10px;
}

.grid-bf-homem img {
  height: 160px;
  width: auto;
  object-fit: cover;
}

.grid-bf-mulher img {
  height: 200px;
  width: auto;
  object-fit: cover;
}

.qual-biotipo div {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4px;
  align-items: center;
}

.qual-biotipo h3 {
  margin-top: 16px;
}

.qual-biotipo {
  border-bottom: 1px solid #b2b2b2;
}

.qual-biotipo p {
  margin-bottom: 14px;
}

.saiba-como {
color: white;
border-bottom: 2px solid #ededed;
font-weight: 700;
}
.saiba-como:hover {
color: #111111;
border-color: #111111;
}

#form-basal input[type="submit"] {
  color: white;
  padding: 16px 32px;
  font: 600 1.125rem / 1.35 "Poppins", sans-serif;
  border-radius: 8px;
  background: linear-gradient(90deg, #0fd9a1, #1190ef);
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-bottom: 8px;
  margin-top: 16px;
}

#form-basal input[type="submit"]:hover {
  box-shadow: 0 0 8px 12px white;
  box-shadow: inset 0 0 0px 50px rgba(0, 0, 0, 0.1);
}

.calc-basal-container .aside-4, .calc-basal-container .aside-5 {
  background: grey;
  width: 300px;
  height: 600px;
  border-radius: 8px;
  margin-bottom: 40px;
}
.tmb-erro {
  color: darkred;
}

.invalid {
  border-color: darkred;
}
.tmb-erro {
  display: none;
}

.tmb-erro.invalid {
  display: block;
}

.symbol-duvida {
  border: 1px solid #cccccc;
  border-radius: 50%;
  padding: 0px 4px;
  background: darkgrey;
  font-weight: 700;
}

.observacao-tabela-dieta {
 font-size: 14px;
 margin-top: 8px;
}
@media (max-width: 1000px) {
  .calc-basal-container .aside-4, .calc-basal-container .aside-5 {
    display: none;
  }
  .calc-basal-container {
    grid-template-columns: 1fr;
  }
  .calc-basal-container .aside-3 {
    width: 728px;
    height: 90px;
  }
}
@media (max-width: 800px) {
  .calc-basal-container .aside-3 {
    width: 468px;
    height: 60px;
  }
}
@media (max-width: 600px) {
  #form-basal {
    padding: 20px 12px;
    border-radius: 0;
  }
  .grid-bf-homem {
    grid-template-columns: repeat(2, 1fr);
  }  
  .grid-bf-mulher {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-bf-mulher img {
    height: 175px;
  }
  #form-basal h2 {
  border-radius: 4px;
  padding: 8px;
  }
  #form-basal h3 {
    margin-bottom: 16px;
  }  
  .calc-basal-container .aside-3 {
    width: 300px;
    height: 100px;
    margin: 12px 0;
  }
  .calc-basal-bg {
    padding: 0px 0px 60px 0px;
  }
}
@media (max-width: 400px) {
  #form-basal .sexo label {
    padding: 12px 20px;
  }
  #form-basal .sexo label:last-child {
    padding: 12px 20px;
  }
  .calc-basal-container .aside-3 {
    width: 300px;
    height: 100px;
  }
}
