.calc-basal ul {
  display: grid;
  gap: 20px;
}

.calc-basal h5 {
  padding-bottom: 10px;
}

.grid-bf-homem {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  max-width: 400px;
}

.grid-bf-mulher {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  max-width: 400px;
}

.result-basal ul {
  display: grid;
}

.result-basal h5 {
  padding: 10px;
}

.calc-dieta ul {
  display: grid;
  gap: 20px;
}

.calc-dieta ul h5 {
  padding: 10px;
}

.result-dieta ul {
  display: grid;
  gap: 20px;
}

.result-macros ul {
  display: grid;
  gap: 20px;
}
