.calc-basal ul {
  display: grid;
  gap: 20px;
}

.calc-basal h5 {
  padding-bottom: 10px;
}

.grid-bf-homem {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  max-width: 400px;
}

.grid-bf-mulher {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  max-width: 400px;
  display: none;
}

.result-basal ul {
  display: grid;
}

.result-basal h5 {
  padding: 10px;
}

.calc-kcal ul {
  display: grid;
  gap: 20px;
}

.calc-kcal ul h5 {
  padding: 10px;
}

.result-kcal ul {
  display: grid;
  gap: 20px;
}

.result-macros ul {
  display: grid;
  gap: 20px;
}

.invalido {
  border-color: darkred;
}
.tmb-erro {
  display: none;
}

.tmb-erro.invalido {
  display: block;
}