body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #141414;
  background: #efe9cf;
}

a {
  color: #141414;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

ul,
a {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.main {
  display: grid;
  max-width: 1300px;
  grid-template-columns: 900px 400px;
  margin: 20px auto;
}

.main main {
  padding: 0 calc((100% - 880px) / 2);
}

.main .aside-2 {
  padding: 20px calc((100% - 300px) / 2);

}