header {
  background: linear-gradient(0deg, #fefde7 95%, #adcbc1);
  width: 100%;
}

.header {
  padding: 0px 20px;
  margin: 0 auto;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  padding: 12px;
}

.logo a {
  display: flex;
  align-items: center;
}

.logo a h1 {
  color: #0069c0;
}

.logo h1:nth-child(3) {
  color: #20f26f;
}

header .menu {
  font-weight: bold;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header .menu a {
  padding: 16px;
  font: 400 1.125rem / 1.35 "Poppins", sans-serif;
}

@media (max-width: 700px) {
  .header {
    display: flex;
  }
}
