header {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.header {
  padding: 10px 20px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.logo a {
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo a h1 {
  color: #0069c0;
}

.logo h1:nth-child(3) {
  color: #20f26f;
}

header .menu {
  padding: 0 20px;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

header .menu a {
  display: inline;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
  background: #aae7e0;

}

header .menu a:hover {
  background: #77b7b2;
  color: white;
}

@media (max-width: 700px) {
  .header {
    margin-bottom: 40px;
    display: flex;
  }
}
@media (max-width: 600px) {
  .header {
    margin-bottom: 20px;
  }
}