.introducao {
  background: url("../image/backgroud-header.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
  box-shadow: inset 1px 1px 15px 1000px rgba(0, 0, 0, 0.25);
  color: white;
}

.introducao .aside-1 {
  background: white;
  width: 728px;
  height: 90px;
  border-radius: 8px;
  margin-bottom: 32px;
  grid-column: 1/ -1;
  margin: 0px auto;
}

.introducao-contain {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 1fr;
  padding: 20px calc((100% - 1200px) / 2) 120px;
}

.introducao-contain .img img {
  height: 300px;
  object-fit: cover;
}

.introducao-contain .img {
  display: grid;
  justify-items: center;
  padding: 10px;
}
.introducao .titulo {
  background: url("../image/Sem_título-removebg-preview.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.titulo {
  padding: 0 10px;
  display: grid;
  justify-items: center;
}

.titulo div {
  display: flex;
  gap: 40px;
  text-align: center;
}

.introducao-contain h1 {
  font: 600 1.5rem/1.5;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  margin: 40px 0;
  text-align: center;
  font-size: 1.8rem;
  max-width: 40ch;
  background: rgba(100, 100, 100, 0.5);
  padding: 10px;
  border-radius: 4px;
}

.introducao-contain p {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 40px;
  font-weight: 500;
  text-shadow: 0px 0px 12px rgba(0, 0, 0, 0.7);
  max-width: 30ch;
  background: rgba(100, 100, 100, 0.5);
}

.titulo a {
  height: max-content;
}

.introducao-contain .aside-2 {
  width: 250px;
  height: 250px;
  background: white;
  border-radius: 8px;
  margin: 12px;
}

@media (max-width: 1000px) {
  .introducao-contain {
    padding: 12px calc((100% - 1200px) / 2) 120px;
    gap: 20px;
    padding-bottom: 120px;
    }
    .titulo div {
      gap: 12px;
    }
    
  .introducao-contain a {
    font-size: 24px;
    padding: 12px 16px;
  }
  .introducao-contain h1 {
    font-size: 24px;
    margin: 32px 0;
  }

  .introducao-contain .aside-2 {
    display: none;
  }
}
@media (max-width: 800px) {
  .introducao .aside-1 {
    width: 468px;
    height: 60px;
  }
  .titulo div {
    display: grid;
    gap: 0;
    text-align: center;
    margin-bottom: 32px;
  }
  .introducao-contain p {
  margin-bottom: 12px;
  max-width: 60ch;
  }
}
@media (max-width: 550px) {
  .introducao .aside-1 {
    width: 300px;
    height: 100px;
  }
  .introducao-contain {
    gap: 0px;
    }
}
