.dieta-montada {
  max-width: 800px;
  display: grid;
  justify-items: center;
  align-items: center;
  border: solid 1px;
  padding: 20px;
}

.descricoes {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 280px 500px;
  justify-items: center;
  align-items: center;
  border: solid 1px;
}

.descricoes div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  border-right: SOLID 1px;
}

.descricoes div p {
  grid-column: 1 / -1;
  border-bottom: solid 1px;
  width: 100%;
  text-align: center;
}

.refeicao {
  display: grid;
  justify-items: center;
  align-items: center;
  border-bottom: solid 1px;
  border-left: solid 1px;
  border-right: solid 1px;
}

.refeicao h2 {
  grid-column: 1 / -1;
  border-bottom: solid 1px;
  width: 100%;
  text-align: center;
}

.lista-alimentos {
  display: grid;
  grid-template-columns: 280px 500px;
}

.lista-alimentos div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  border-right: solid 1px;
}

.lista-alimentos p {
  text-align: center;
}
