.dieta-montada-contain {
  background: rgba(9, 93, 140, 0.8);
  max-width: 765px;
  padding: 32px;
  justify-items: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 1px 1px 20px 10px rgba(47, 92, 139, 0.3);
  display: none;
}
.dieta-montada-contain.active {
  display: grid;
  animation: show-right 0.2s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-20px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.dieta-montada-contain h2 {
  border-radius: 12px 12px 0 0;
  margin-bottom: 16px;
  padding: 12px 0;
  background: #093450;
  margin-bottom: 20px;
  color: white;
  width: 100%;
}

.descricoes {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  border: solid 1px #b2b2b2;
  border-radius: 4px 4px 0 0;
}

.descricoes div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  border-right: solid 1px #b2b2b2;
  border-left: solid 1px #b2b2b2;
}

.descricoes div h4 {
  background: #0a4061;
  grid-column: 1 / -1;
  border-bottom: solid 1px #b2b2b2;
  width: 100%;
  text-align: center;
  padding: 8px 0;
}

.descricoes div span {
  padding: 8px;
  font-size: 0.85rem;
  font-weight: 600;
}

.refeicao {
  display: grid;
  justify-items: center;
  align-items: center;
  border-bottom: solid 1px #b2b2b2;
  border-left: solid 1px #b2b2b2;
  border-right: solid 1px #b2b2b2;
}

.titulo-refeicao {
  background: #2493bd;
  padding: 12px;
  border-bottom: solid 1px #b2b2b2;
}

.lista-alimentos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid 1px #b2b2b2;
}

.lista-alimentos div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  border-left: solid 1px #b2b2b2;
}

.lista-alimentos span {
  padding: 8px;
}

.lista-alimentos p {
  text-align: center;
  padding: 8px;
}

.avisoEscolherDieta {
  margin-top: 20px;
  display: block;
}

.avisoEscolherDieta.remove {
  display: none;
}



@media (max-width: 1000px) {
  .dieta-montada-container {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 600px) {
  .dieta-montada-bg {
    padding: 0 0 60px 0;
  }
  .dieta-montada-contain {
    border-radius: 0;
    padding: 20px 12px;
  }
  .dieta-montada-contain h2 {
    border-radius: 8px;
  }
  .descricoes {
    grid-template-columns: 1fr;
  }
  .descricoes h3 {
    display: none;
  }
  .lista-alimentos {
    grid-template-columns: 1fr;
  }
  .lista-alimentos div {
    border: none;
  }
  .lista-alimentos p {
    padding-bottom: 0;
  }
  .descricoes {
    border-left: none;
    max-width: 389px;
  }
  .lista-alimentos:last-child {
    border-bottom: none;
  }
  .titulo-refeicao {
    padding: 4px;
  }
}
